/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

header{
    position: relative;
    width: 100%;    
    text-align: center;
}

section header{
    margin-bottom: 10px;
    font-weight: bold;
}

.full-width {
    width: 100%;
  }

.container{
    z-index: 5;
    height: 100%;
    width: 100%;
}

.container::before{
    content: "";
    background-image: url('/assets/img/fondoGuayo.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.profileMenu{
    padding: 15px;
    background-color: #263238;
}

.profileMenu ul{
    color: white;
    list-style: none;
    font-size: 11px !important;
    float: inherit;
    margin-left: 19px;
}

.profileMenu ul .name{
    font-size: 13px !important;
    font-weight: bold !important;
}

.profileMenu img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

.tmnReg::before{
    height: 1050px !important;
}


#logo{
    height: 150px;
    width: 100%;
}

#logo img{
    width: 135px;
    height: 160px;
}

.login{
    background-attachment: fixed;
    background-image: url("/assets/img/FONDO.png");
    background-color: black;
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: 300px 500px;
    margin: 0 auto;
    max-width: 320px;
    padding: 25px;
    width: 100%;

}

.login section{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px;
    height: 100%;
}

article.frm{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 24px;
    height: 100%;
}

nav{    
    color: #D50000;
    display: block;    
    margin: 0 auto;    
    position: relative;
}

nav > ul{
    margin-left: -40px;
}


nav > ul > li{
    display: block;
    list-style: none;
    margin: 2px;          
    box-sizing: border-box;  
    text-align: center;
}

nav > ul > li > a:hover{
    border-bottom: 4px solid #D50000;    
    color: #D50000;    
    /*margin: 0 0px;    */
}


nav > ul > li > a{    
    padding: 0px 14px;
    height: auto;
    color: #E53935;
    cursor: pointer;
    text-decoration: none !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    vertical-align: middle;
    margin: 0 auto;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.menu-pc ,
.menu-cat{
    display: none !important;
}

.spacer-flex {
    flex: 1 1 auto;
}

.spacer-menu-cat {
    flex: 1 1 auto;
}


@media (min-width: 860px) {
    .menu-mobile {
        display: none !important;
    }

    .menu-pc {
        display: flex !important;
    }

    .spacer-menu-cat {
        flex: 100% width;
    }

    nav{    
        color: #D50000;
        display: inline-block;
        position: relative;
        margin: 0 auto;
    }

    nav > ul{
        margin-left: 0px;
    }

    nav > ul > li{
        display: block;
        float: left;
        margin: 2px;          
        box-sizing: border-box;
    }

    nav > ul > li > a{    
        padding: 0px 14px;
        height: 63px;
        display: inline-block;       
        font-weight: 400;
        line-height: 60px;
        vertical-align: middle;
    }

}


@media (max-width: 900px) and (min-width: 600px){
    .field-ocult{
        display: none;
    }

    .menu-cat{
        display: flex !important;
        justify-content: center;
    }

    .spacer-menu-cat {
        display: none;
    }
}

@media (min-width: 900px){
    .field-ocult{
        display: inherit;
    }

    .menu-cat {
        display: flex !important;
    }
}
    